label {
  width: 100%;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
}

input[type='text'] {
  border: none;
}

input[type='text']:focus {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  color: red;
  border-radius: 4px;
}

input[type='number']:hover {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid green;
  color: green;
  border-radius: 4px;
}
